# 各APIキーの書き方の例です
# これに沿って.envファイルにAPIキーを追加してください
# wikipedia apiのユーザーエージェントの書き方 参照(https://foundation.wikimedia.org/wiki/Policy:Wikimedia_Foundation_User-Agent_Policy/ja)

# ダブルクォーテーションは不要です

# google ai studioから個人で取得したAPIキーを入力してください
GEMINI_API_KEY = 個人のAPIキーを入力

# 個人のメールアドレスを入力してください
WIKI_USER_AGENT = MapStoryTellingApp/1.0 (contact: example@example.com)

# 個人で取得したmapboxのdefault public tokenを入力してください
MAPBOX_ACCESS_TOKEN = トークンを入力